{% extends 'layout.njk' %}

{% block content %}

<section class="product-single container">
  <div class="gallery">
    <img src="http://placehold.it/500x500" alt="">
  </div>

  <div class="info">
    <h1>Computador</h1>
    <div class="published">
      Publicado em 18/07 às 21h
    </div>
    <div class="description">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, ducimus fugiat. Iusto praesentium iste ab, numquam culpa quam perferendis dignissimos, maiores placeat, voluptatem cupiditate minus maxime a quaerat reprehenderit sint!
    </div>

    <div class="price-buy">
      <div class="price">
        R$ 99,99
        <span class="old">R$ 109,00</span>
      </div>
      <div class="buy">
        <button class="button">Comprar</button>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
