{% extends 'layout.njk' %}

{% import "parts/card.njk" as card %}

{% block content %}

{% call card.render('Detalhes', 'user-dashboard container') %}

<form method="POST" action="/usuarios?_method=PUT">
  <div class="fields">
    {% include 'user/fields.njk' %}
    <input type="hidden" name="id" value="{{ user.id }}">
  </div>
  <button class="button" type="submit">Atualizar</button>
  <label for="delete" class="button delete">Deletar</label>
</form>

<form id="form-delete" action="/usuarios?_method=DELETE" method="POST">
  <input name="id" value="{{ user.id }}">
  <button id="delete" class="button" type="submit"></button>
</form>

{% endcall %}

<script>
  const formDelete = document.querySelector('#form-delete')
  formDelete.addEventListener('submit', function(event) {
    const confirmation = confirm('Tem certeza que quer excluir sua conta? Esta ação não poderá ser desfeita.')
    if(!confirmation) {
      event.preventDefault()
    }
  })
</script>

{% endblock content %}
