<header>
  <div class="container">
    <a href="/">
      <div class="logo">
        <h1>Launchstore</h1>
        <h2>COMPRA E VENDA</h2>
      </div>
    </a>
    <form class="search" method="GET" action="/produtos/buscar">
      <input 
        type="text"
        name="filter"
        placeholder="Buscar por produtos"
        {% if search.term %}
        value="{{search.term}}"
        {% endif %}
      >
    </form>

    <nav class="primary">
      <ul>
        <li>
          <a href="/anuncios/criar">
            <i class="material-icons">add</i>
            Novo Anúncio
          </a>
        </li>
        <li class="dropdown-container">
          <a href="/conta">
            <i class="material-icons">account_circle</i>
            Minha Conta
          </a>
          {% if session.userId %}
          <ul class="dropdown">
            <li>
              <a href="/pedidos">Meus pedidos</a>
            </li>
            <li>
              <a href="/usuario/anuncios">Meus anúncios</a>
            </li>
            <li>
              <a href="/pedidos/vendas">Minhas vendas</a>
            </li>
            <li>
              <form action="/usuario/logout" method="POST">
                <button>Sair</button>
              </form>
            </li>
          </ul>
          {% endif %}
        </li>
        <li class="cart">
          <a href="/carrinho">
            <i class="material-icons">shopping_cart</i>
            {% if session.cart and session.cart.total.quantity > 0 %}
              <span id="card-status-info">{{session.cart.total.quantity}}</span>
            {% endif %}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>