<header>
  <div class="container">
    <a href="/">
      <div class="logo">
        <h1>Launchstore</h1>
        <h2>COMPRA E VENDA</h2>
      </div>
    </a>
    <form class="search" method="GET" action="/buscar">
      <input 
        type="text"
        name="filter"
        placeholder="Buscar por produtos"
        {% if search.term %}
        value={{search.term}}
        {% endif %}
      >
    </form>

    <nav class="primary">
      <ul>
        <li>
          <a href="/anuncios/criar">
            <i class="material-icons">add</i>
            Novo Anúncio
          </a>
        </li>
        <li class="accounts">
          <a href="/conta">
            <i class="material-icons">account_circle</i>
            Minha Conta
          </a>
          {% if user %}
          <ul class="submenu">
            <li>
              <a href="/usuarios">Configurações</a>
            </li>
            <li>
              <a href="/comprar">Meus pedidos</a>
            </li>
            <li>
              <a href="/vender">Minhas vendas</a>
            </li>
            <li>
              <form action="/usuarios/logout" method="POST">
                <button>Sair</button>
              </form>
            </li>
          </ul>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
</header>